.fileChooserInput {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.btn-3 {
    background-color: #09BC8A;
    border-radius: 0;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn-3 div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.btn-3:hover {
    background-color: rgb(13, 144, 107);
}

.fileChooserForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-3 span {
    height: 50px;
}

/* #F9DC5C - yellow */
/* #ED254E - red */

.fileChooserLabel {
    margin-right: 50px;
}

.customButton {
    margin-left: 50px;
    width: 200px;
    height: 50px;
    background-color: #09BC8A;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.customButton:hover {
    background-color: rgb(13, 144, 107);
}

.fileChooserContainer {
    width: 50%;
    position: absolute;
    bottom: 5%;
}